.bigheader {
    position: sticky;
    height: 110px;
    width: 100%;
    overflow: hidden;
    background-color: black;
}

h1 {
    font-size: 30px;
    color: white;
    font-family: "Lobster", cursive;
    font-family: "Source Code Pro", monospace;
    text-align: center;
}
  
.header {
    position: sticky;
    top: 90px;
    width: 100%;
    height: 50px;
    overflow: hidden;
    background-color: #131415;
}
  
.header a {
    float: left;
    display: block;
    padding: 10px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: Monospace;
    font-size: 18px;
}
  
.header a.active {
    background-color: rgb(48, 46, 46);
}
  
.header a:hover {
    text-decoration: underline;
    color: grey;
}
  
  
.topnav {
    background-color: lightslategray;
    overflow: hidden;
    width: 100%;
}
  
  
.topnav-right {
    float: right;
}
  
  
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
}
  
  
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
  
  
.topnav a.active {
    background-color: slategrey;
    color: white;
}

body {
    background: rgb(92, 89, 94)
}

.input {
    position: relative;
}

.title {
    position: absolute;
    top: 20%;
    left: 5%;
    font-size: 80px;
    color: black;
    font-weight: bolder;
    text-transform: uppercase;
    -webkit-text-fill-color: whitesmoke;
    -webkit-text-stroke-width: 4px;

}

.description {
    border: black 2px;
    position: absolute;
    top: 35%;
    left: 5%;
    font-size: 30px;
    color: black;
    font-weight: 900;
    -webkit-text-fill-color: whitesmoke;
    -webkit-text-stroke-width: 2px;
}

#cover {
    /* height: 1000px; */
    width: 100%;
    opacity: 0.2;
    background-size: cover;
}

.first-tick {
    position: absolute;
    top: 25%;
    left: 60%;
    font-size: 25px;
    font-weight: bolder;
    -webkit-text-fill-color: whitesmoke;
    -webkit-text-stroke-width: 2px;
}

.first-desc {
    border: black 2px;
    position: absolute;
    top: 25%;
    left: 62%;
    font-size: 25px;
    color: black;
    font-weight: 900;
    -webkit-text-fill-color: whitesmoke;
    -webkit-text-stroke-width: 1.5px;
}

.second-tick {
    position: absolute;
    top: 45%;
    left: 60%;
    font-size: 25px;
    font-weight: bolder;
    -webkit-text-fill-color: whitesmoke;
    -webkit-text-stroke-width: 2px;
}

.second-desc {
    border: black 2px;
    position: absolute;
    top: 45%;
    left: 62%;
    font-size: 25px;
    color: black;
    font-weight: 900;
    -webkit-text-fill-color: whitesmoke;
    -webkit-text-stroke-width: 1.5px;
}

.third-tick {
    position: absolute;
    top: 65%;
    left: 60%;
    font-size: 25px;
    font-weight: bolder;
    -webkit-text-fill-color: whitesmoke;
    -webkit-text-stroke-width: 2px;
}

.third-desc {
    border: black 2px;
    position: absolute;
    top: 65%;
    left: 62%;
    font-size: 25px;
    color: black;
    font-weight: 900;
    -webkit-text-fill-color: whitesmoke;
    -webkit-text-stroke-width: 1.5px;
}



.footer_section {
    background-color: #222831;
    color: #ffffff;
    padding: 75px 0 40px 0;
    text-align: center;
}
  
.footer_section h4 {
    font-size: 28px;
}
  
.footer_section h4,
.footer_section .footer-logo {
    font-weight: 600;
    margin-bottom: 20px;
    font-family: 'Dancing Script', cursive;
}
  
.footer_section p {
    color: #dbdbdb;
}
  
.footer_section .footer-col {
    margin-bottom: 30px;
}
  
.footer_section .footer_contact .contact_link_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
  
.footer_section .footer_contact .contact_link_box a {
    margin: 5px 0;
    color: #ffffff;
}
  
.footer_section .footer_contact .contact_link_box a i {
    margin-right: 5px;
}
  
.footer_section .footer_contact .contact_link_box a:hover {
    color: #ffbe33;
}
  
.footer_section .footer-logo {
    display: block;
    font-weight: bold;
    font-size: 38px;
    line-height: 1;
    color: #ffffff;
}
  
.footer_section .footer_social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
}
  
.footer_section .footer_social a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #222831;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #ffffff;
    border-radius: 100%;
    margin: 0 2.5px;
    font-size: 18px;
}
  
.footer_section .footer_social a:hover {
    color: #ffbe33;
}
  
.footer_section .footer-info {
    text-align: center;
    margin-top: 25px;
}
  
.footer_section .footer-info p {
    color: #ffffff;
    margin: 0;
}
  
.footer_section .footer-info p a {
    color: inherit;
}